<a href="https://colab.research.google.com/github/1546329G/python_pyt/blob/main/26_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

utlizar pandas y conectores logicos

In [4]:
import pandas as pd
#crear una dataframe simple
data={
    'Nombre': ['german','julio','charly'],
    'edad':[37,15,28],
    'ciudad': ['tacna','trujilo','cajarmarca']
}

#2do convierto la estrucutura en dataframe
df=pd.DataFrame(data)

#mostrar la dataframe
print(df)

#flitar a las personas qu viven en trujillo
filtro=df['ciudad']=='trujillo' #condicion
respuesta=df[filtro]            #aplicar en df la condicion
print(respuesta)

   Nombre  edad      ciudad
0  german    37       tacna
1   julio    15     trujilo
2  charly    28  cajarmarca
Empty DataFrame
Columns: [Nombre, edad, ciudad]
Index: []

In [5]:
import pandas as pd
#crear una dataframe simple
data={
    'Nombre': ['german','julio','charly'],
    'edad':[37,15,28],
    'ciudad': ['tacna','trujilo','cajarmarca']
}

#2do convierto la estrucutura en dataframe
df=pd.DataFrame(data)
filtro=df['edad']>20
respuesta=df[filtro]
print(respuesta)

   Nombre  edad      ciudad
0  german    37       tacna
2  charly    28  cajarmarca

In [3]:
import pandas as pd
#crear una dataframe simple
data={
    'Nombre': ['german','julio','charly','maria','jorge'],
    'edad':[37,15,28,22,30],
    'ciudad': ['tacna','trujilo','cajarmarca','tacna','tacna']
}

#2do convierto la estrucutura en dataframe
df=pd.DataFrame(data)
#hora debemos mostrar quien nacio en tacna y sea mayor a 25años
filtro=(df['ciudad']=='tacna') & (df['edad']>25)
respuesta=df[filtro]
print(respuesta)

   Nombre  edad ciudad
0  german    37  tacna
4   jorge    30  tacna

operaciones en columnas:
agregar,eiminar y modificar en una dad frame

In [11]:
import pandas as pd
data={
    'producto':['galleta','huevo','yogurt','gaseosa'],
    'precio': [1.2, 1, 6.5, 1.2],
    'cantidad':[20,100,24,36]

}
df=pd.DataFrame(data)
#agregar una columna de monto_total=precio*cantidad
df['monto total']= df['precio'] * df['cantidad']
print("la nueva columna es monto total")
print(df)
#modifcar unancolumna con un descuento 20% al precio
df ['precio con descuento']=df['precio']*0.2
print("ahora tenemos el decuento mdel 20%")
#eliminar la columna cantidad
df=df.drop(columns=['cantidad'])
print("ahora elimine ala coluna cantidad")
print(df)

la nueva columna es monto total
  producto  precio  cantidad  monto total
0  galleta     1.2        20         24.0
1    huevo     1.0       100        100.0
2   yogurt     6.5        24        156.0
3  gaseosa     1.2        36         43.2
ahora tenemos el decuento mdel 20%
ahora elimine ala coluna cantidad
  producto  precio  monto total  precio con descuento
0  galleta     1.2         24.0                  0.24
1    huevo     1.0        100.0                  0.20
2   yogurt     6.5        156.0                  1.30
3  gaseosa     1.2         43.2                  0.24

In [13]:
#agrupar datos e una dataframe y calcularemos estadisticas acrupadas
import pandas as pd
data={
    'vendedor':['ana','luis','pedro','luis','ana','carlos'],
    'producto':['mazana', 'pera','platano','manzana','pera','sandia'],
    'ventas':[150, 100, 120, 80, 186, 95]

}

df=pd.DataFrame(data)
#agrupar por vendedor y calcular la suma total de ventas
ventaVendedor=df.groupby('vendedor')['ventas'].sum()
print("las ventas totoles por vendedopr son: ")
print(ventaVendedor)

las ventas totoles por vendedopr son:
vendedor
ana       336
carlos     95
luis      180
pedro     120
Name: ventas, dtype: int64

In [6]:
#valores nulos en una dataframe
import pandas as pd
import numpy as np
data ={
    'nombre':['ana','luis','carlos','maria',np.nan],
    'edad':[23,np.nan,30,22,28],
    'ciudad':['tacna','arequipa',np.nan,'puno','tacna']
}
df=pd.DataFrame(data)
print(df)


#PROSOR DETECTEMOS LOS VALORES NULOS
print("VALORES NULOS DE LA DATAFRAME")
print(df.isnull())


#reemplazar valores mnuelos en la columna edad y
#apartir de la medida de las edades (promedio)
df['edad'].fillna(df['edad'].mean(),inplace=True)
print("mostramos la dataframe con todas las edades")
print(df)

#eliminar filas de cualquier valor nulo
df.dropna(inplace=True)
print("eliminamos filas de datos nulos")
print(df)

   nombre  edad    ciudad
0     ana  23.0     tacna
1    luis   NaN  arequipa
2  carlos  30.0       NaN
3   maria  22.0      puno
4     NaN  28.0     tacna
VALORES NULOS DE LA DATAFRAME
   nombre   edad  ciudad
0   False  False   False
1   False   True   False
2   False  False    True
3   False  False   False
4    True  False   False
mostramos la dataframe con todas las edades
   nombre   edad    ciudad
0     ana  23.00     tacna
1    luis  25.75  arequipa
2  carlos  30.00       NaN
3   maria  22.00      puno
4     NaN  28.00     tacna
eliminamos filas de datos nulos
  nombre   edad    ciudad
0    ana  23.00     tacna
1   luis  25.75  arequipa
3  maria  22.00      puno

In [16]:
#merge y cancatenacion de dataframes
import pandas as pd

data1={
    'id':[1,2,3],
    'nombre':['ana','luis','carlos']

}
df1=pd.DataFrame(data1)

data2={
      'id':[1,2,3],
    'edad':[23, 39, 55]

}
df2=pd.DataFrame(data2)

#realizar una megre basada en la columna id
df_merge=pd.merge(df1,df2, on='id', how='inner' )
print("dataframe despues del merge")
print(df_merge)

#cocatenar 2 dataframe verticalmente
data3={
    'id': [5,6],
    'nombre':['maria','juan']
}
#aqui  en hay error, toca corregir
df3=pd.DataFrame(data3)
df_concat=pd.concat([df1.df3],ignore_index=True)
print("DataFrame luego de la concatenacion")
print(df_concat)

dataframe despues del merge
   id  nombre  edad
0   1     ana    23
1   2    luis    39
2   3  carlos    55

AttributeError: 'DataFrame' object has no attribute 'df3'

In [8]:
#ejercicio 1
"""import pandas as pd
data={
    'producto':['manzana','pera','sandia','platano'],
    'precio':[20,30.5,14.7,29]
}
df=pd.DataFrame(data)

print("\n respuesta final")
total=df['precio'].sum()
print('\nla suma total de los precios es', total)
"""


#ejercicio2.1
#ventas de mayo
import pandas as pd
data={
    'nombre':['ana','maria','pedro','david','jorge','ana'],
    'edad':[32,18,15,27,31,32],
    'mes':['enero','mayo','febrero','mayo','diciembre','mayo'],
    'venta':[2000.50,700.50,950.50,3000.80,1000.70,500.50]
}

df=pd.DataFrame(data)
ventaMayo=df.groupby('mes')['venta'].sum()
print("el total de ventas del mes de mayo")
print(ventaMayo)

"""
df = pd.DataFrame(data)
print(df)
Summayo =df[df['mes'] == 'Mayo']['Venta'].sum()
print("Le suma de las ventas on naye es:")
print(Summayo)
"""



#ejercicio 3
#promedio personas > 25 años
import pandas as pd
data={
        'nombre':['ana','maria','pedro','david','jorge','ana'],
    'edad':[32,18,15,27,31,32],
    'mes':['enero','mayo','febrero','mayo','diciembre','mayo'],
    'venta':[2000.50,700.50,950.50,3000.80,1000.70,500.50]
}
df = pd.DataFrame(Data)
print(df)
filtro=df['edad']>25& (df['venta']< 2500)
respuesta=df[filtro]
print(respuesta)

el total de ventas del mes de mayo
mes
diciembre    1000.7
enero        2000.5
febrero       950.5
mayo         4201.8
Name: venta, dtype: float64

NameError: name 'Data' is not defined